{% extends 'base.html.twig' %}

{% block title %}Projet index{% endblock %}

{% block body %}
    <h1>Liste Des Projets </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Nom</th>
                <th>Date Debut</th>
                <th>Date Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projet in projets %}
            <tr>
                <td>{{ projet.id }}</td>
                <td>{{ projet.codeProjet }}</td>
                <td>{{ projet.nomProjet }}</td>
                <td>{{ projet.dateDebutProjet ? projet.dateDebutProjet|date('Y-m-d') : '' }}</td>
                <td>{{ projet.dateFinProjet ? projet.dateFinProjet|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_projet_show', {'id': projet.id}) }}">show</a>
                    <a href="{{ path('app_projet_edit', {'id': projet.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_projet_new') }}">Create new</a>
{% endblock %}
